.about-page{

    .about-page-title{
        font-size: 50px;
    }
    .portrait-self{
        width: 200px;
    }
    .about-page-content1{
        margin-bottom: 200px;
        padding: 0px 100px;
        .react-logo{
            animation: react-logo-spin infinite 5s linear;
            width: 300px;
            float: left;     
        }    
    }
    .about-page-content2{
        margin-bottom: 200px;
        padding: 0px 100px;
        .aws-logo{
            width: 400px;
            float: right;     
        }    
    }
    .about-page-content3{
        margin-top: 300px;
        margin-bottom: 200px;
        padding: 0px 100px;
        .paragraph-3{
            .stantec-logo{
                width: 400px;
                padding: 50px 10px;
            }
            .fph-logo{          
                width: 400px;
                padding: 50px 10px;
            }       
        }
    }
    h1{
        font-size: 50px;
        font-weight: bold;
        text-decoration: underline;
        margin-bottom: 300px;
    }
    h2{
        font-size: 45px;
        font-weight: bold;
        text-decoration: underline;        
    }
    p{
        font-size: 20px;
    }
    h3{
        padding: 100px 0;
    }

}
@keyframes react-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(-360deg);
    }
  }