.about-page{
    text-align: center;        
    .image-container{
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 25px;
        margin-top: 50px;
        width: 1000px;
        height: 1000px;
        display: inline-block;
        border: 2px solid black;
        border-radius: 20px;
        -webkit-box-shadow: 0.5px 3px 15px 1px rgba(0,0,0,1);
        -moz-box-shadow: 0.5px 3px 15px 1px rgba(0,0,0,1);
        box-shadow: 0.5px 3px 15px 1px rgba(0,0,0,1);
        .self-portrait{
            width: 180px;
            height: 180px;
            margin-top: 40px;
        }
        .logo{
            width: 40px;
            height: 40px;
            &:hover{
                cursor: pointer;
            }
        }        
    }
    .about-page-content{
        font-family: 'Open Sans', sans-serif;
        font-size: 15px;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 20px;
        text-align: center;
    }
    .react-icon{
        text-align: left;
        animation: react-icon-spin infinite 5s linear;
        height: 200px;
      }
      .python-icon{
        height: 200px;
      }
      .aws-icon{
        height: 200px;
      }
}
@keyframes react-icon-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}