.natours-logo {
  width: 200px;
  height: 100px;
  @media screen and (max-width: 500px) {
    width: 100px;
    height: 50px;
  }
}

.natours-content {
  h1 {
    @media screen and (max-width: 500px) {
      font-size: 32px;
    }
  }
  h2 {
    @media screen and (max-width: 500px) {
      font-size: 32px;
    }
  }
  p {
    @media screen and (max-width: 500px) {
      font-size: 16px;
      margin-left: 5%;
      margin-right: 5%;
    }
  }
}
