.project-page-content {
  .project-page-title {
    @media screen and (max-width: 500px) {
      font-size: 25px;
    }
    font-size: 50px;
    text-decoration: underline;
  }
  h1 {
    margin-bottom: 200px;
  }
  p {
    margin-top: 50px;
    margin-bottom: 200px;
    font-size: 20px;
  }
  .project-contents {
    margin-left: 150px;
    margin-right: 150px;
    .natours-logo {
      width: 50px;
      height: 30px;
    }

    .card-title {
      font-size: 40px;
      color: black;
      .link-text {
        color: black;
        padding: 20px 20px;
        justify-content: flex-start;
      }
    }
    .card-content {
      font-size: 20px;
    }
    .card-text {
      margin-left: 10px;
      margin-right: 10px;
      font-size: 18px;
      color: black;
    }
  }
  h2 {
    font-size: 20px;
  }
  .cv-logo {
    width: 40px;
    height: 40px;
  }
}
