.project-page-content {
  .project-page-title {
    @media screen and (max-width: 500px) {
      font-size: 25px;
    }
    font-size: 50px;
    text-decoration: underline;
  }
  h1 {
    margin-bottom: 200px;
    @media screen and (max-width: 500px) {
      font-size: 10px;
      margin-bottom: 50px;
    }
  }
  p {
    margin-top: 50px;
    margin-bottom: 200px;
    font-size: 20px;
  }
  .project-contents {
    margin-left: 150px;
    margin-right: 150px;
    @media screen and (max-width: 500px) {
      margin-left: 0px;
      margin-right: 0px;
    }
    .project-card {
      @media screen and (max-width: 500px) {
        margin-left: 25%;
        flex-direction: unset;
        width: 50%;
        height: 300px;
        align-content: center;
      }
    }
    .natours-logo {
      width: 50px;
      height: 30px;
    }

    .card-title {
      font-size: 40px;
      color: black;
      @media screen and (max-width: 500px) {
        font-size: 16px;
        margin-bottom: 0px;
      }
      .link-text {
        color: black;
        padding: 10px 10px;
        justify-content: flex-start;
      }
    }
    .card-content {
      font-size: 20px;
    }
    .card-text {
      margin-left: 10px;
      margin-right: 10px;
      font-size: 18px;
      @media screen and (max-width: 500px) {
        font-size: 10px;
        margin-left: 0px;
        margin-right: 0px;
      }
      color: black;
    }
  }
  h2 {
    font-size: 20px;
  }
  .cv-logo {
    width: 40px;
    height: 40px;
  }
}
