.carousel-container{
    width: 60%;
    @media screen and (max-width: 500px){
        width: 100%;
        margin: 0 1.5%;
    }
    .photos{
        @media screen and (max-width: 500px) {
            margin-bottom: 100px;
        }
        width: 90%;
        margin-bottom: 75px;
        
    }
    h3{
        font-weight: normal;
        font-style: italic;
        text-decoration: none;
        font-size: 16px;
        color: black;
        @media screen and (max-width: 500px){
            font-size: 12px;
        }
    }
    .carousel-indicators li{
        background-color: black;
    }
    .carousel-control-next-icon{
        margin-bottom: 50%;
    }
    .carousel-control-prev-icon{
        margin-bottom: 50%;
    }
}