.map-container{
    .nz-map-container{
        .nz-map{
            @media screen and (max-width: 500px) {
                height: 90%;
                width: 90%;
            }
            width: 1700px;
            height: 800px;
        }
        .syd-pointer{
            position: absolute;
            width: 30px;
            height: 40px;
            margin-top: 600px;
            margin-left: 1420px;
            @media screen and (max-width: 500px) {
                width: 20px;
                height: 25px;
            }
            &:hover{
                cursor: pointer;
            }
        }
        .mel-pointer{
            &:hover{
                cursor: pointer;
            }

            position: absolute;
            width: 30px;
            height: 40px;
            margin-top: 620px;
            margin-left: 1380px;
            @media screen and (max-width: 500px) {
                width: 20px;
                height: 25px;
            }

        }
        .bris-pointer{
            &:hover{
                cursor: pointer;
            }

            position: absolute;
            width: 30px;
            height: 40px;
            margin-top: 540px;
            margin-left: 1440px;
            @media screen and (max-width: 500px) {
                width: 20px;
                height: 25px;
            }
        }
        .jp-pointer{
            &:hover{
                cursor: pointer;
            }

            position: absolute;
            width: 30px;
            height: 40px;
            margin-top: 220px;
            margin-left: 1350px;
            @media screen and (max-width: 500px) {
                width: 20px;
                height: 25px;
            }
        }
        .kor-pointer{
            &:hover{
                cursor: pointer;
            }

            position: absolute;
            width: 30px;
            height: 40px;
            margin-top: 210px;
            margin-left: 1300px;
            @media screen and (max-width: 500px) {
                width: 20px;
                height: 25px;
            }
        }
        .haw-pointer{
            &:hover{
                cursor: pointer;
            }

            position: absolute;
            width: 30px;
            height: 40px;
            margin-top: 330px;
            margin-left: 1600px;
            @media screen and (max-width: 500px) {
                width: 20px;
                height: 25px;
            }
        }
        .sng-pointer{
            &:hover{
                cursor: pointer;
            }

            position: absolute;
            width: 30px;
            height: 40px;
            margin-top: 400px;
            margin-left: 1210px;
            @media screen and (max-width: 500px) {
                width: 20px;
                height: 25px;
            }

        }
    }
    .world-map{
        @media screen and (max-width: 500px) {
            height: 90%;
            width: 90%;
        }
        margin-top: 20%;
        width: 400px;
        height: 500px;
    }
    
}