
.content{
    text-align: center;        
    .text-box{
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 25px;
        margin-top: 150px;
        line-height: 100px;     
        width: 700px;
        height: 500px;
        display: inline-block;
        border: 2px solid black;
        border-radius: 20px;
        -webkit-box-shadow: 0.5px 3px 15px 1px rgba(0,0,0,1);
        -moz-box-shadow: 0.5px 3px 15px 1px rgba(0,0,0,1);
        box-shadow: 0.5px 3px 15px 1px rgba(0,0,0,1);
        .self-portrait{
            width: 125px;
            height: 125px;
            margin-top: 30px;
        }
        .logo{
            width: 40px;
            height: 40px;
            &:hover{
                cursor: pointer;
            }
        }        
    }
    hr{
        width: 75%;
        border: 1px solid rgb(128, 128, 128);
    }
}